{{template "base" .}}
{{define "title"}}ocenki na uchenik{{end}}
{{define "main"}}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-10 text-left">
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        {{range $k1, $v1 := .}}
                        <th>{{$k1}}</th>
                    </tr>
                    <tr>
                        <th>Дата</th>
                        <th>Оценка</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                <!--put more tds-->
                    {{range $k2, $v2 := $v1}}
                        <tr>
                            <form onsubmit=updateMark(this)>
                            {{range $k3, $v3 := $v2}}
                                <td>
                                    <label>
                                        {{if eq $k3 0 }}
                                            <input  type="date" value="{{$v3}}">
                                        {{else if eq $k3 1}}
                                            <select class="{{$k3}}">
                                                <option>{{$v3}}</option>
                                            </select>
                                        {{else if eq $k3 2 }}
                                            <input type="hidden" data-mark-id="{{$v3}}" >
                                        {{end}}
                                    </label>
                            {{end}}
                                    <button type="submit" class="btn btn-success"> Запази промени </button>
                                    <button onclick=deleteMark(this) type="button" class="btn btn-danger">Изтрий оценка</button>
                                </td>
                            </form>
                        </tr>
                    {{end}}
                        {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function updateMark(element) {

        let input = element.elements

        let urlEncodedDataPairs = [];

        urlEncodedDataPairs.push(encodeURIComponent("mark_id") + "=" + encodeURIComponent(input[2].getAttribute("data-mark-id")));
        urlEncodedDataPairs.push(encodeURIComponent("new_date") + "=" + encodeURIComponent(input[0].value));
        urlEncodedDataPairs.push(encodeURIComponent("mark") + "=" + input[1].value)
        let urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

        xhr = new XMLHttpRequest();
        xhr.open("PUT", "/update-student-mark", false);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(urlEncodedData)
    }
    function deleteMark(button) {

        markId = button.previousElementSibling.previousElementSibling.lastElementChild.getAttribute("data-mark-id")

        let urlEncodedDataPairs = [];
        urlEncodedDataPairs.push(encodeURIComponent("markId") + "=" + encodeURIComponent(markId));
        let urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

        xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/update-student-mark", false);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(urlEncodedData)
    }

</script>
{{end}}